#intro {
  padding: 4rem 1rem 10rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

#intro p {
  font-size: 1rem;
  line-height: 1.5;
}

#intro .name {
  font-family: var(--font-header);
}

.name span {
  font-family: var(--font-main);
  font-size: 4rem;
  color: var(--ltblue);
  display: block;
}

#intro h2 {
  font-size: 4rem;
  color: var(--white);
}
