#projects {
  padding: 4rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

#projects h2 {
  font-size: 2.5rem;
  margin-bottom: calc(2.5rem * 1.5);
}

#projects h3 {
  color: var(--ltblue);
}

#projects h4 {
  font-size: 1rem;
  font-family: var(--font-header);
  margin: 0;
}

.blackbox {
  background-color: var(--black);
  padding: 1rem;
  border-radius: 10px;
  color: var(--white);
  font-size: 1rem;
  line-height: 1.5;
}

#projects ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1rem;
}

#projects img {
  margin: 2rem 0 4rem 0;
  border-left: 1px solid var(--ltblue);
  border-top: 1px solid var(--ltblue);
  border-radius: 25px;
  padding: 1rem;
}

@media (min-width: 550px) {
  article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
  }

  #projects img {
    grid-column: 1/6;
    grid-row: 1/2;
  }

  #projects .text {
    order: 2;
    text-align: right;
    grid-column: 5/11;
    grid-row: 1/2;
  }

  #projects ul {
    justify-content: flex-end;
  }

  #projects .reverse img {
    grid-column: 6/11;
    grid-row: 1/2;
  }

  #projects .reverse .text {
    order: 2;
    text-align: left;
    grid-column: 1/7;
  }

  #projects .reverse ul {
    justify-content: flex-start;
  }
}
