nav {
  font-family: var(--font-header);
  font-size: 80%;
  padding: 1rem;
}

nav [class*="fa-"] {
  font-size: 120%;
}

nav h1 [class*="fa-"] {
  color: var(--ltblue);
}

nav h1 a {
  font-family: var(--font-main);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}

nav a {
  color: var(--cream);
  text-decoration: none;
  display: block;
}

nav a:hover {
  color: var(--white);
}

@media (min-width: 850px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }

  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}
