.section-ltblue {
  background-color: var(--ltblue);
}

.section-dkblue {
  background-color: var(--dkblue);
}

.section-black {
  background-color: var(--black);
}

.section-white {
  background-color: var(--white);
  color: var(--black);
}

.section-cream {
  background-color: var(--cream);
  color: var(--black);
}

.gradient {
  background: rgb(1, 17, 38);
  background: linear-gradient(
    90deg,
    rgba(1, 17, 38, 1) 0%,
    rgba(242, 234, 223, 1) 100%
  );
  height: 2px;
}

.button {
  background-color: var(--cream);
  padding: 0.3rem;
  border-radius: 5px;
  color: var(--black);
  font-family: var(--font-header);
  text-decoration: none;
}

.button:hover {
  color: var(--ltblue);
  background-color: var(--white);
}
