:root {
  --black: #010326;
  --dkblue: #011126;
  --ltblue: #2d4459;
  --cream: #d9d0c5;
  --white: #f2eadf;
  --font-size: 1.3rem;
  --font-header: "Ultra", serif;
  --font-main: "PT Serif", serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-main);
  background-color: var(--black);
  color: var(--cream);
  font-size: var(--font-size);
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  color: var(--ltblue);
}

a:hover {
  color: var(--white);
  text-decoration: none;
}

img {
  width: 100%;
}
